In [ ]:
Q1. What is a database? Differentiate between SQL and NoSQL databases.
Ans)A database is a collection of structured data that is organized in a way that makes it easy to store, manage, and retrieve
information. It can be a physical or digital repository of data that is used to store and manage large amounts of information.

The main difference between SQL and NoSQL databases is their data model and the way they handle data. SQL databases are highly 
structured and rely on pre-defined schemas, while NoSQL databases are flexible and allow for a more dynamic and agile approach
to data management. SQL databases are better suited for complex queries and transactions, while NoSQL databases excel at
handling large volumes of unstructured data with high performance and scalability.

In [ ]:
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
Ans)DDL stands for Data Definition Language, and it is a subset of SQL that is used to define and manipulate the structure of a 
database. DDL commands are used to create, modify, and delete database objects such as tables, indexes, views, and procedures.

Here are the explanations of the commonly used DDL commands:

CREATE: The CREATE command is used to create a new database object, such as a table, view, index, or stored procedure.
For example, to create a new table named "customers" with columns "id", "name", "email", and "phone", the following SQLcommand
can be used:

CREATE TABLE customers (
id INT PRIMARY KEY,
name VARCHAR(50) NOT NULL,
email VARCHAR(50),
phone VARCHAR(20)
);

DROP: The DROP command is used to delete an existing database object, such as a table, view, index, or stored procedure.
For example, to drop the "customers" table that was created in the previous example, the following SQL command can be used:

DROP TABLE customers;

ALTER: The ALTER command is used to modify an existing database object, such as a table, view, index, or stored procedure.
For example, to add a new column named "address" to the "customers" table created in the first example, the following SQL 
command can be used:

ALTER TABLE customers ADD COLUMN address VARCHAR(100);

TRUNCATE: The TRUNCATE command is used to delete all the data from a table without deleting the table structure. For example,
to delete all the data from the "customers" table created in the first example, the following SQL command can be used:

TRUNCATE TABLE customers;

In [ ]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
Ans)DML stands for Data Manipulation Language, and it is a subset of SQL that is used to manipulate the data within a database.
DML commands are used to insert, update, and delete data from a database.

Here are the explanations of the commonly used DML commands:

INSERT: The INSERT command is used to insert new data into a table. For example, to insert a new record into a table 
named "employees" with values for columns "id", "name", "email", and "salary", the following SQL command can be used:

INSERT INTO employees (id, name, email, salary)
VALUES (1, 'John Smith', 'john@example.com', 50000);

UPDATE: The UPDATE command is used to modify existing data in a table. For example, to update the email address for the employee
with an ID of 1 in the "employees" table, the following SQL command can be used:

UPDATE employees
SET email = 'john.smith@example.com'
WHERE id = 1;

DELETE: The DELETE command is used to delete data from a table. For example, to delete the employee with an ID of 1 from the
"employees" table, the following SQL command can be used:

DELETE FROM employees
WHERE id = 1

In [ ]:
Q4. What is DQL? Explain SELECT with an example.
Ans)DQL stands for Data Query Language, and it is a subset of SQL that is used to retrieve data from a database. DQL commands
are used to perform queries on the database and retrieve data that meets specific criteria.

Here is the explanation of the commonly used DQL command:

SELECT: The SELECT command is used to retrieve data from one or more tables in a database. The SELECT command can be used to
retrieve all the columns or specific columns from one or more tables based on certain conditions. For example, to retrieve all 
the data from a table named "employees", the following SQL command can be used:

SELECT * FROM employees;

This command retrieves all the columns from the "employees" table. If we want to retrieve only specific columns such as "name" 
and "email" from the "employees" table.

In [ ]:
Q5. Explain Primary Key and Foreign Key.
Ans)A Primary Key is a column or a set of columns in a table that uniquely identifies each row in that table.
A primary key is used to enforce data integrity and ensure that each row in the table is uniquely identifiable. The values 
in a primary key column must be unique and cannot be NULL. Primary keys are often used as the basis for establishing 
relationships between tables in a database.

For example, consider a table named "students" with columns "id", "name", "age", and "class". In this case, we can use 
the "id" column as the primary key since each student in the table can be uniquely identified by their ID.

A Foreign Key is a column or a set of columns in a table that refers to the primary key of another table. A foreign key is 
used to establish a relationship between two tables in a database. The values in a foreign key column must match the values 
in the primary key column of the referenced table or be NULL.

For example, consider another table named "courses" with columns "id", "name", "duration", and "student_id". In this case
the "student_id" column in the "courses" table can be used as a foreign key that refers to the primary key of the "students"
table. This establishes a relationship between the "students" and "courses" tables, where each course in the "courses" table
can be associated with a student in the "students" table

In [ ]:
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
Ans)

import mysql.connector
mydb = mysql.connector.connect(
    host = "localhost",
    user = "abc",
    password = "password"
)
mycursor = mydb.cursor()
mycursor.execute("Show Databases")
for i in mycursor:
    print(i)
mydb.close()


The "execute()" method is used to execute an SQL query on a cursor object. The query can be a select statement or any other 
SQL statement. The "execute()" method returns the number of rows affected by the query.

The "cursor()" method is used to create a cursor object, which is used to execute SQL queries and fetch data from the query 
result. Cursors are used to manage the context of a database query and enable efficient processing of the result set.

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.
Ans)In an SQL query, the order of execution of SQL clauses is as follows:

1) SELECT: The SELECT clause is used to specify the columns to be included in the result set.

2) FROM: The FROM clause is used to specify the table(s) from which to retrieve data.

3) WHERE: The WHERE clause is used to filter the data based on a condition.

4) GROUP BY: The GROUP BY clause is used to group the data based on one or more columns.

5) HAVING: The HAVING clause is used to filter the grouped data based on a condition.

6) ORDER BY: The ORDER BY clause is used to sort the result set based on one or more columns.

7) LIMIT: The LIMIT clause is used to limit the number of rows returned by the query.

It's worth noting that not all of these clauses are required in every SQL query. For example, a simple SELECT statement may
only require the SELECT and FROM clauses, while a more complex query may require all of the above clauses.

Additionally, some databases may support additional clauses or variations of the above clauses. It's important to consult the 
documentation of the specific database being used to understand the full range of capabilities and syntax.